body{
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 10px 10px 10px 8px rgb(202, 198, 198);
}
.container{
    margin: 0 20px;
}
#transaction-area{
    display: none;
}

.status{
     
}
 .status{ 
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
 } 
.deposit{
    background-color: blue;
   
    
}
.withdraw{
    background-color: coral;

}
.balance{
    background-color: cornflowerblue;
}